---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


{% include base_path %}

<h2>Published & Forthcoming</h2>
<p>
  Carruthers, Celeste K., Shaun Dougherty, Thomas Goldring, Daniel Kreisman, Roddy Theobald, Carly Urban, and Jesus Villero. 
  <strong>Career and Technical Education Alignment Across Five States.</strong> (2024). 
  <em>AERA Open 10</em> 
  <a href="https://journals.sagepub.com/doi/10.1177/23328584241276504" target="_blank">Open access article</a>.
</p>

<h2>Working Papers</h2>


<h2>Policy Briefs, Reports, and Other Writing</h2>


<h2>Data</h2>
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



