---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


{% include base_path %}

<h2>Published & Forthcoming</h2>
<ul>
  <li>
    Carruthers, Celeste K., Shaun Dougherty, Thomas Goldring, Daniel Kreisman, Roddy Theobald, Carly Urban, and Jesus Villero. <a href="https://doi.org/10.1177/23328584241276504">Career and Technical Education Alignment Across Five States.</a> (2024). <em>AERA Open 10</em>.</li>
    <li>Carruthers, Celeste K., William F. Fox, and Christopher Jepsen. <a href="https://doi.org/10.3368/jhr.1220-11359R2">What Knox Achieved: Estimated effects of free community college on attainment and earnings</a> (accepted, <em>Journal of Human Resources</em>). <a href="https://ckcarruthers.github.io/files/Carruthers_Fox_Jepsen 2023-03-09.pdf" target="_blank">March 2023 draft</a>.</li>
    <li>Ecton, Walt, Carolyn Heinrich, and Celeste K. Carruthers. <a href="https://doi.org/10.1177/23328584221140410">Earning to Learn: Working while Enrolled in Tennessee Colleges and Universities.</a> (2023). <em>AERA Open 9</em>.</li> 
    <li style="margin-left:2em">Summary at <a href="https://theconversation.com/college-students-who-work-more-hours-are-less-likely-to-graduate-196183" target="_blank">theconversation.com</a></li>
    <li>Carruthers, Celeste K., William F. Fox, Larry Kessler, and Matthew N. Murray. (2022). <a href="https://doi.org/10.1086/719199">Tax compliance in the Amazon.</a> <em>National Tax Journal 75(2)</em>: 297-311 <a href="https://ckcarruthers.github.io/files/Carruthers Fox Kessler Murray 2022-01-10.pdf" target="_blank">Last working paper</a> and <a href="https://ckcarruthers.github.io/files/Carruthers Fox Kessler Appendix 2022-01-10.pdf" target="_blank">appendix</a>.</li>
    <li>Carruthers, Celeste K., and Christopher Jepsen. (2022). Vocational Education: An International Perspective, in <em><a href="https://www.routledge.com/The-Routledge-Handbook-of-the-Economics-of-Education/McCall/p/book/9781032158716">The Routledge Handbook of the Economics of Education</a></em>, edited by Brian McCall, London, UK: Routledge. <a href="https://www.cesifo.org/en/publications/2020/working-paper/vocational-education-international-perspective">Pre-publication version, CES-ifo Working Paper No. 8718</a>.</li>
    <li>Carruthers, Celeste K. and Kara S. Mitchell. <a href="https://doi.org/10.1002/soej.12413">Are "Education Lotteries" Less Regressive? Evidence from Texas.</a> (2020). <em>Southern Economic Journal 86(3)</em>: 1019-1040. Winner of the 2020 Georgescu-Roegen Prize. <a href="https://ckcarruthers.github.io/files/Carruthers Smith_TX_Lottery_2019_04.pdf" target="_blank">Pre-publication version here</a>.</li>
    <li>Bruce, Donald J., Celeste K. Carruthers, Matthew C. Harris, Matthew N. Murray, and Jinseong Park. (2019). <a href="https://doi.org/10.1016/j.jue.2019.05.007">Do In-Kind Grants Stick? The Department of Defense 1033 program and local government spending.</a> <em>Journal of Urban Economics 112</em>: 111-121  <a href="https://ckcarruthers.github.io/files/Do_In_Kind_Grants_Stick_2019-04-04.pdf" target="_blank">Pre-publication version here</a>.</li>
    <li>Carruthers, Celeste K. and Jilleah G. Welch. (2019) <a href="https://doi.org/10.1016/j.jpubeco.2018.11.006">Not Whether, but Where? Pell Grants and College Choices.</a> <em>Journal of Public Economics 172</em>:1-19 <a href="https://ckcarruthers.github.io/CarruthersWelch_2018-08-10.pdf" target="_blank">Pre-publication version here</a>.</li>
    <li>Carruthers, Celeste K. and Thomas Sanford. (2018) <a href="https://doi.org/10.1016/j.jpubeco.2018.07.001">Way Station or Launching Pad? Unpacking the Returns to Adult Technical Education.</a> <em>Journal of Public Economics 165</em>: 146-159. (<a href="https://ckcarruthers.github.io/files/Carruthers_Sanford_2018-05.pdf" target="_blank">Pre-publication version here</a>, <a href="https://ckcarruthers.github.io/files/Carruthers_Sanford_Appendix_2018-05.pdf" target="_blank">Appendix here</a>)</li>
    <li>Kim, Bongkyun, Celeste K. Carruthers, and Matthew C. Harris. <a href="https://doi.org/10.1016/j.jebo.2017.05.014">Maternal Stress and Birth Outcomes: Evidence from the 1994 Northridge Earthquake.</a> (2017). <em>Journal of Economic Behavior and Organization 140</em>: 354-373.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker. <a href="https://doi.org/10.1086/690944">Separate and Unequal in the Labor Market: Human Capital and the Jim Crow Wage Gap.</a> (2017). <em>Journal of Labor Economics 35(3)</em>: 655-696.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker. <a href="https://doi.org/10.1016/j.eeh.2017.02.004">Returns to School Resources in the Jim Crow South.</a> (2017). <em>Explorations in Economic History 64</em>: 104-110.</li>
    <li>Carruthers, Celeste K. and Umut Ozek. (2016). <a href="https://doi.org/10.1016/j.eeh.2017.02.004">Losing HOPE: Financial Aid and the Line Between College and Work.</a> <em>Economics of Education Review 53</em>: 1-15.</li>
    <li>Carruthers, Celeste K. and William F. Fox (2016). <a href="https://doi.org/10.1016/j.econedurev.2015.06.001">Aid for all: College coaching, financial aid, and postsecondary persistence in Tennessee.</a> <em>Economics of Education Review 51</em>: 97-112.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker. (2015). <a href="https://doi.org/10.3368/jhr.50.4.837 ">Municipal Housekeeping: The Impact of Women's Suffrage on the Provision of Public Education.</a> <em>The Journal of Human Resources 50 (4)</em>: 837-872.</li>
    <li>Carruthers, Celeste K. and Donald J. Bruce. Jackpot? <a href="https://doi.org/10.1016/j.jue.2014.01.006">The Impact of Lottery Scholarships on Enrollment in Tennessee.</a> (2014). <em>Journal of Urban Economics 81</em>: 30-44.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker (2013). <a href="https://doi.org/10.1016/j.jpubeco.2013.02.003">Closing the Gap? The Effect of Private Philanthropy on the Provision of African-American Schooling in the U.S. South.</a> <em>Journal of Public Economics 101</em>, 53-67.</li>
    <li>Carruthers, Celeste K. (2012). <a href="https://doi.org/10.1162/EDFP_a_00067">The Qualifications and Classroom Performance of Teachers Moving to Charter Schools.</a> <em>Education Finance and Policy, 7(3)</em>, 223-268.</li>
    <li>Carruthers, Celeste K. (2012). <a href="https://doi.org/10.1016/j.econedurev.2011.06.001">New Schools, New Students, New Teachers: Evaluating the Effectiveness of Charter Schools.</a> <em>Economics of Education Review, 31(2)</em>, 280-292.</li>
</ul>

<h2>Working Papers</h2>
<ul>
    <li>Brown, Michael, Celeste K. Carruthers, Michael Kofoed, Jenna Kramer, and Aaron Phipps. Does Free Community College Change Who Enlists in the Military? Qualitative and Quantitative Evidence from Tennessee Promise. (submitted)</li>
    <li>Carruthers, Celeste K., Shaun Dougherty, Daniel Kreisman, Roddy Theobald, Carly Urban, and Jesus Villero. Who Take High-Earnings CTE Pathways? An Empirical Analysis from Five States. (submitted)</li>
    <li>Wu, Ge and Celeste K. Carruthers. Assessing a Free College Opportunity for Students in Disadvantaged Schools. (submitted)</li>
    <li>Carruthers, Celeste K. and Emily Pratt. College coaching and completion grants in Tennessee: Estimated Effects on Persistence. (submitted)</li>
    <li>Attridge, Jonathon, Jill G. Welch, and Celeste K. Carruthers. Free community college and college completion: Evidence from Tennessee.</li>
    <li>Carruthers, Celeste K., and Ge Wu. Does Career and Technical Education Move with the Labor Market?</li>
    <li>Carruthers, Celeste K. Post-COVID Labor Market Shortages and College Enrollment.</li>
</ul>

<h2>Policy Briefs, Reports, and Other Writing</h2>

<ul>
    <li>Carruthers, Celeste K. and Matthew C. Harris. (2024). "<a href="https://haslam.utk.edu/publication/tennessees-post-pandemic-labor-force-recovery/">Tennessee's Post-Pandemic Labor Force Recovery.</a>"</li>
    <li>Carruthers, Celeste K. and Emily Pratt. (2024). <a href="https://haslam.utk.edu/publication/navigate-reconnect-2024-annual-report/">Navigate Reconnect: 2024 Annual Report.</a></li>
    <li>Carruthers, Celeste K. and Emily Pratt. (2024). "<a href="https://haslam.utk.edu/publication/college-coaching-and-completion-grants-in-tennessee-estimated-effects-on-persistence/">College coaching and completion grants in Tennessee: Estimated Effects on Persistence.</a>"</li>
    <li>Carruthers, Celeste K. (2024). "<a href="https://defendstudents.org/peer/research/body/PEER_Carruthers_C_final.pdf">How a Bachelor's Degree Earnings Threshold Could Be Used for Graduate Program Accountability.</a>" Postsecondary Equity and Economics Research Project.</li>
    <li>Carruthers, Celeste K. and Emily Pratt (2024). "<a href="https://haslam.utk.edu/publication/going-beyond-free-college-initial-findings-on-college-success-with-supplemental-coaching-and-grants/">Going Beyond Free College: Initial Findings on College Success with Supplemental Coaching and Grants.</a>"</li>
    <li>Carruthers, Celeste K. and Ryan Herzog. (2023). <a href="https://ckcarruthers.github.io/files/">"<a href="https://theconversation.com/in-fractious-debate-gop-candidates-find-common-ground-on-cause-of-inflation-woes-and-need-for-school-choice-213433"</a>In fractious debate, GOP candidates find common ground on cause of inflation woes and need for school choice.</a>" theconversation.com</li>
    <li>Carruthers, Celeste K. and Emily Pratt. (2023). <a href="https://haslam.utk.edu/publication/knox-promise-college-persistence-and-completion-for-the-first-three-cohorts/">Knox Promise: College Persistence and Completion for the First Three Cohorts</a>"</li>
    <li>Carruthers, Celeste K., William F. Fox, Diego Guerrero, and Emily Pratt. (2023). <a href="https://haslam.utk.edu/publication/knox-promise-and-nashville-grad-an-early-look-at-college-outcomes/">Knox Promise and Nashville GRAD: An Early Look at College Outcomes</a>"</li>
    <li>Carruthers, Celeste K. (2023). <a href="https://ckcarruthers.github.io/files/">"<a href="</a>https://ckcarruthers.github.io/files/">The Value of a College Education in Tennessee.</a>"</li>
    <li>Hunt, John Patrick, and Celeste K. Carruthers. (Feb 28, 2023). "<a href="https://theconversation.com/student-debt-cancellation-program-in-jeopardy-as-supreme-court-justices-hear-arguments-200725">Student debt cancellation in jeopardy as Supreme Court justices hear arguments.</a>" theconversation.com.</li>
    <li>Carruthers, Celeste K., Donald J. Bruce, Lawrence M. Kessler, and Linnea Endersby. (2023). <a href="https://haslam.utk.edu/publication/tennessees-post-pandemic-workforce-implications-for-the-value-of-going-to-college/">"Tennessee's Post-Pandemic Workforce: Implications for the Value of Going to College."</a></li>
    <li>Miller-Adams, Michelle and Jennifer Iriti, eds. (2022). <a href="https://www.freecollegehandbook.com/">The Free College Handbook: A Practitioner’s Guide to Promise Research.</a> Kalamazoo, MI: W.E. Upjohn Institute for Employment Research.</li>
    <ul>
        <li>Iriti, Jennifer and Celeste K. Carruthers. "Who Sits at the Planning Table?"</li>
        <li>Iriti, Jennifer and Celeste K. Carruthers. "What Steps are Needed to Launch a Promise Program?"</li>
        <li>Carruthers, Celeste K. and Jennifer Iriti. "How do Promise Programs Evolve Over Time?"</li>
        <li>Carruthers, Celeste K. and Jennifer Iriti. "What are Some Common Challenges Promise Programs Face?"</li>
    </ul>
    <li>Urban, Carly, Celeste K. Carruthers, Shaun Dougherty, Thomas Goldring, Dan Kreisman, and Roddy Theobald. (2022). <a href="https://gpl.gsu.edu/publications/2022-multi-state-analysis-of-trends-in-cte/">A Multi-State Analysis of Trends in Career and Technical Education.</a> Prepared for the Georgia State University CTEx Research Lab.</li>
    <li>Carruthers, Celeste K., Shaun Dougherty, Sophie McGuinness, Sydney Payne, and Roddy Theobald. (2022). <a href="https://scholarworks.gsu.edu/gpl_reports/19/">Graduation, College, and Employment Outcomes for CTE Students with an Identified Disability.</a> Prepared for the Georgia State University CTEx Research Lab.</li>
    <li>Carruthers, Celeste K., Oded Gurantz, and Lindsay Page. (2022). <a href="https://edresearchforaction.org/research-briefs/helping-students-make-informed-choices-about-college/">Helping Students Make Informed Choices About College.</a> EdResearch for Recovery Brief No. 23. Brown University Annenberg Institute.</li>
    <li>Goldring, Thomas, Celeste K. Carruthers, Shaun Dougherty, Daniel Kreisman, and Roddy Theobold. (2021). <a href="https://gpl.gsu.edu/publications/2021-multi-state-analysis-of-trends-in-cte/">A Multi-State Analysis of Trends in Career and Technical Education: Massachusetts, Michigan, Tennessee, and Washington.</a> Georgia State University CTEx Research Lab.</li>
    <li>Carruthers, Celeste K., Shaun Dougherty, Daniel Kreisman, and Roddy Theobold. (2021). <a href="https://scholarworks.gsu.edu/gpl_reports/16/">A Multi-State Study of Equity in Career and Technical Education.</a> Georgia State University CTEx Research Lab.</li>
    <li>Wu, Ge, and Celeste K. Carruthers. (2021). <a href="https://scholarworks.gsu.edu/gpl_reports/6/">Engagement with Career and Technical Education in Tennessee High Schools.</a> (OSF pre-analysis plan and interim report)</li>
    <li>Carruthers, Celeste K., Shaun Dougherty, Daniel Kreisman, and Alfredo Martin. (2020). <a href="https://scholarworks.gsu.edu/gpl_reports/5/">A Multi-State Analysis of Trends in Career and Technical Education: Massachusetts, Michigan, and Tennessee.</a> Prepared for the Georgia State University CTEx Research Lab.</li>
    <li>"Driving Forward: Ensuring Postsecondary Students Earn Credentials In A Changing Economy.'' (July 2020). Prepared in partnership with William Fox, Bryce Warden, and the State Collaborative on Reforming Education (SCORE). Online report: <a href="https://drivingforward.tnscore.org/">https://drivingforward.tnscore.org/</a>.</li>
    <li>Bonilla, Sade, Celeste K. Carruthers, and Dominique Baker. (June 2020). <a href="https://edresearchforaction.org/research-briefs/guidance-and-support-for-students-moving-into-postsecondary/">Guidance and Support for Students Moving into Postsecondary.</a> EdResearch for Recovery Brief No. 3. Brown University Annenberg Institute.</li>
    <li>Carruthers, Celeste K., Larry Kessler, and Marianne Wanamaker. (March 31, 2020). <a href="https://theconversation.com/covid-19-could-shrink-the-earnings-of-2020-graduates-for-years-to-come-134765">COVID-19 could shrink the earnings of 2020 graduates for years to come.</a> The Conversation.</li>
   <li>Carruthers, Celeste K. and Jilleah G. Welch. (2020). <a href="https://github.com/ckcarruthers/ckcarruthers.github.io/files/Carruthers%20Welch%20Reconnect%206.30.20.pdf">Can Financial Aid (Re)Connect Students to College? Evidence from Tennessee Colleges of Applied Technology.</a></li>
    <li>Carruthers, Celeste K. (2019). <a href="https://scholarworks.gsu.edu/gpl_reports/30/">Career and Technical Education, Accountability, and Program Quality Indicators Under Perkins V.</a> Prepared for the Georgia State University CTEx Research Lab. (online)</li>
    <li>Carruthers, Celeste K. (2019). <a href="https://www.brookings.edu/articles/five-things-to-know-about-the-tennessee-promise-scholarship/">5 things to know about the Tennessee Promise scholarship.</a> Brown Center Chalkboard, Brookings Institution. (online)</li>
    <li>Carruthers, Celeste K. and Jonathon Attridge. (2019). <a href="https://scholarworks.gsu.edu/gpl_reports/1/">College and Work after High School for Tennessee Career and Technical Education Students.</a> Prepared for the Georgia State University CTEx Research Lab. (online)</li>
    <li>Ozek, Umut, Celeste K. Carruthers, and Kristian Holden. (2018). <a href="https://caldercenter.org/publications/teacher-value-added-charter-schools-and-traditional-public-schools">Teacher value-added in charter schools and traditional public schools.</a> Calder Working Paper No. 183</li>
    <li>Carruthers, Celeste K., David Figlio, and Tim Sass. (2018). <a href="https://www.brookings.edu/articles/did-tenure-reform-in-florida-affect-student-test-scores/">Did tenure reform in Florida affect student test scores?</a> Evidence Speaks Reports 2(52): May 17, 2018. (online)</li>
    <li>Carruthers, Celeste K. "Tennessee is Showing how Free Tuition Works." (online, New York Times, Room for Debate, 1/20/2016).</li>
    <li><a href="https://us.sagepub.com/en-us/nam/encyclopedia-of-education-economics-and-finance/book240585">Encyclopedia of Education Economics and Finance</a> (2014). Brewer, D.J. and Picus, L.O. (Eds.), Sage. Entries for "Adult Education," "G.I. Bill" (with Justin Roush), "Pell Grants" (with Jilleah Welch), and "Vocational Education."</li>
    <li>Blair, Roger D. and Carruthers, Celeste K. (2010). The Economics of Monopoly Power in Antitrust. <a href="https://www.e-elgar.com/shop/usd/antitrust-law-and-economics-9781847207319.html">Antitrust Law & Economics</a>, Keith Hylton (Ed.), Edward Elgar.</li>
    <li>Carruthers, Celeste K. (2008). <a href="https://doi.org/10.1177/0003603X0805300107">Twombly and the Evolution of Telecom Regulation.</a> Antitrust Bulletin, 53(1), 95-116</li>
</ul>

<h2>Data</h2>
<ul>
  <li>Carruthers, Celeste, and Wanamaker, Marianne. County-level school enrollment and resources in ten segregated Southern states, 1910-1940. Ann Arbor, MI: Inter-university Consortium for Political and Social Research [distributor], 2019-05-06. <a href="https://doi.org/10.3886/E109625V1">https://doi.org/10.3886/E109625V1</a></li>
</ul>

<!-- New style rendering if publication categories are defined 
Uncomment the section below if you'd like to use markdown
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->



