---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


{% include base_path %}

<h2>Published & Forthcoming</h2>
<ul>
  <li>
    Carruthers, Celeste K., Shaun Dougherty, Thomas Goldring, Daniel Kreisman, Roddy Theobald, Carly Urban, and Jesus Villero. Career and Technical Education Alignment Across Five States. (2024). <em>AERA Open 10</em> <a href="https://journals.sagepub.com/doi/10.1177/23328584241276504" target="_blank">Open access article</a>. </li>
    <li>Carruthers, Celeste K., William F. Fox, and Christopher Jepsen. What Knox Achieved: Estimated effects of free community college on attainment and earnings (accepted, <em>Journal of Human Resources</em>). <a href="https://ckcarruthers.github.io/files/Carruthers_Fox_Jepsen 2023-03-09.pdf" target="_blank">March 2023 draft</a>.</li>
    <li>Ecton, Walt, Carolyn Heinrich, and Celeste K. Carruthers. Earning to Learn: Working while Enrolled in Tennessee Colleges and Universities. (2023). <em>AERA Open 9</em>, <a href="https://journals.sagepub.com/doi/10.1177/23328584221140410" target="_blank">Open access article</a></li> 
    <li style="margin-left:2em">Summary at <a href="https://theconversation.com/college-students-who-work-more-hours-are-less-likely-to-graduate-196183" target="_blank">theconversation.com</a></li>
    <li>Carruthers, Celeste K., William F. Fox, Larry Kessler, and Matthew N. Murray. (2022). Tax compliance in the Amazon. <em>National Tax Journal 75(2)</em>: 297-311 <a href="https://ckcarruthers.github.io/files/Carruthers Fox Kessler Murray 2022-01-10.pdf" target="_blank">Last working paper</a> and <a href="https://ckcarruthers.github.io/files/Carruthers Fox Kessler Appendix 2022-01-10.pdf" target="_blank">appendix</a>.</li>
    <li>Carruthers, Celeste K., and Christopher Jepsen. (2022). Vocational Education: An International Perspective, in <em>The Routledge Handbook of the Economics of Education</em>, edited by Brian McCall, London, UK: Routledge. <a href="https://www.cesifo.org/en/publications/2020/working-paper/vocational-education-international-perspective">Pre-publication version, CES-ifo Working Paper No. 8718</a>.</li>
    <li>Carruthers, Celeste K. and Kara S. Mitchell. Are "Education Lotteries" Less Regressive? Evidence from Texas. (2020). <em>Southern Economic Journal 86(3)</em>: 1019-1040. Winner of the 2020 Georgescu-Roegen Prize. <a href="https://ckcarruthers.github.io/files/Carruthers Smith_TX_Lottery_2019_04.pdf" target="_blank">Pre-publication version here</a>.</li>
    <li>Bruce, Donald J., Celeste K. Carruthers, Matthew C. Harris, Matthew N. Murray, and Jinseong Park. (2019). Do In-Kind Grants Stick? The Department of Defense 1033 program and local government spending. <em>Journal of Urban Economics 112</em>: 111-121  <a href="https://ckcarruthers.github.io/files/Do_In_Kind_Grants_Stick_2019_04.pdf" target="_blank">Pre-publication version here</a>.</li>
    <li>Carruthers, Celeste K. and Jilleah G. Welch. (2019) Not Whether, but Where? Pell Grants and College Choices. <em>Journal of Public Economics 172</em>:1-19 <a href="https://ckcarruthers.github.io/CarruthersWelch_2018-08-10.pdf" target="_blank">Pre-publication version here</a>.</li>
    <li>Carruthers, Celeste K. and Thomas Sanford. (2018) Way Station or Launching Pad? Unpacking the Returns to Adult Technical Education. <em>Journal of Public Economics 165</em>: 146-159. (<a href="https://ckcarruthers.github.io/files/Carruthers_Sanford_2018-05.pdf" target="_blank">Pre-publication version here</a>, <a href="https://ckcarruthers.github.io/files/Carruthers_Sanford_Appendix_2018-05.pdf" target="_blank">Appendix here</a>)</li>
    <li>Kim, Bongkyun, Celeste K. Carruthers, and Matthew C. Harris. Maternal Stress and Birth Outcomes: Evidence from the 1994 Northridge Earthquake. (2017). <em>Journal of Economic Behavior and Organization 140</em>: 354-373.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker. Separate and Unequal in the Labor Market: Human Capital and the Jim Crow Wage Gap. (2017). <em>Journal of Labor Economics 35(3)</em>: 655-696.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker. Returns to School Resources in the Jim Crow South. (2017). <em>Explorations in Economic History 64</em>: 104-110.</li>
    <li>Carruthers, Celeste K. and Umut Ozek. (2016). Losing HOPE: Financial Aid and the Line Between College and Work. <em>Economics of Education Review 53</em>: 1-15. <a href="https://ckcarruthers.github.io/" target="_blank">Pre-publication version here</a>.</li>
    <li>Carruthers, Celeste K. and William F. Fox (2016). Aid for all: College coaching, financial aid, and postsecondary persistence in Tennessee. <em>Economics of Education Review 51</em>: 97-112.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker. (2015). Municipal Housekeeping: The Impact of Women's Suffrage on the Provision of Public Education. <em>The Journal of Human Resources 50 (4)</em>: 837-872.</li>
    <li>Carruthers, Celeste K. and Donald J. Bruce. Jackpot? The Impact of Lottery Scholarships on Enrollment in Tennessee. (2014). <em>Journal of Urban Economics 81</em>: 30-44.</li>
    <li>Carruthers, Celeste K. and Marianne H. Wanamaker (2013). Closing the Gap? The Effect of Private Philanthropy on the Provision of African-American Schooling in the U.S. South. <em>Journal of Public Economics 101</em>, 53-67.</li>
    <li>Carruthers, Celeste K. (2012). The Qualifications and Classroom Performance of Teachers Moving to Charter Schools. <em>Education Finance and Policy, 7(3)</em>, 223-268.</li>
    <li>Carruthers, Celeste K. (2012). New Schools, New Students, New Teachers: Evaluating the Effectiveness of Charter Schools. <em>Economics of Education Review, 31(2)</em>, 280-292.</li>
</ul>

<h2>Working Papers</h2>
<ul>
    <li>Brown, Michael, Celeste K. Carruthers, Michael Kofoed, Jenna Kramer, and Aaron Phipps. Does Free Community College Change Who Enlists in the Military? Qualitative and Quantitative Evidence from Tennessee Promise. (submitted)</li>
    <li>Carruthers, Celeste K., Shaun Dougherty, Daniel Kreisman, Roddy Theobald, Carly Urban, and Jesus Villero. Who Take High-Earnings CTE Pathways? An Empirical Analysis from Five States. (submitted)</li>
    <li>Wu, Ge and Celeste K. Carruthers. Assessing a Free College Opportunity for Students in Disadvantaged Schools. (submitted)</li>
    <li>Carruthers, Celeste K. and Emily Pratt. College coaching and completion grants in Tennessee: Estimated Effects on Persistence. (submitted)</li>
    <li>Attridge, Jonathon, Jill G. Welch, and Celeste K. Carruthers. Free community college and college completion: Evidence from Tennessee.</li>
    <li>Carruthers, Celeste K., and Ge Wu. Does Career and Technical Education Move with the Labor Market?</li>
    <li>Carruthers, Celeste K. Post-COVID Labor Market Shortages and College Enrollment.</li>
</ul>

<h2>Policy Briefs, Reports, and Other Writing</h2>


<h2>Data</h2>
<ul>
  <li>Carruthers, Celeste, and Wanamaker, Marianne. County-level school enrollment and resources in ten segregated Southern states, 1910-1940. Ann Arbor, MI: Inter-university Consortium for Political and Social Research [distributor], 2019-05-06. <a href="https://doi.org/10.3886/E109625V1">https://doi.org/10.3886/E109625V1</a></li>
</ul>

<!-- New style rendering if publication categories are defined 
Uncomment the section below if you'd like to use markdown
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->



