---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<h1>Teaching</h1>
<ul>
    <li>Economics 582 - Elements of Econometrics I</li>
    <li>Public Policy 713 - Causal Inference in Education Policy Research: Postsecondary (at the University of Michigan)</li>
    <li>Economics 671 - Public Finance: Expenditure Analysis</li>
    <li>Economics 436 - Economics of Health and Health Care</li>
    <li>Economics 471 (371 prior to Fall 2012) - Public Finance: Expenditure Analysis</li>
    <li>Economics 331 - Government and Business</li>
    <li>Economics 4403 - Government Regulation of Business (at the University of Florida)</li>
</ul>
<!--
This is old code from the original package. If you want to update teaching, you can simply add a new line above. 
Optional, uncomment this section and add .md files under the _teaching folder.
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
>
